n8n/workflows/stockpilot-bot-interpret.json
{
  "name": "StockPilot Bot Interpret",
  "nodes": [
    {
      "parameters": {
        "path": "stockpilot-bot-interpret",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1f2ed0e-9d3f-4a02-bd95-101001010101",
      "name": "Bot Interpret Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "stockpilot-bot-interpret",
      "position": [
        -760,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\nconst request = payload.request ?? payload;\nconst text = String(request.text ?? '').trim();\nconst channel = String(request.channel ?? 'UNKNOWN').trim().toUpperCase();\nconst inventoryChoices = Array.isArray(request.inventoryChoices)\n  ? request.inventoryChoices\n      .filter((choice) => choice && typeof choice.id === 'string' && typeof choice.name === 'string')\n      .slice(0, 120)\n      .map((choice) => ({\n        id: String(choice.id),\n        name: String(choice.name),\n        sku: typeof choice.sku === 'string' ? choice.sku : null,\n      }))\n  : [];\nconst rawLlm = payload.llm && typeof payload.llm === 'object' ? payload.llm : {};\nconst llmProvider = rawLlm.provider === 'cloudflare' ? 'cloudflare' : 'ollama';\nconst llm = {\n  provider: llmProvider,\n  url: typeof rawLlm.url === 'string' && rawLlm.url.trim() ? rawLlm.url.trim() : 'http://127.0.0.1:11434/api/chat',\n  model: typeof rawLlm.model === 'string' && rawLlm.model.trim() ? rawLlm.model.trim() : 'qwen2.5:3b',\n  headers: rawLlm.headers && typeof rawLlm.headers === 'object' ? rawLlm.headers : { 'Content-Type': 'application/json' },\n};\nconst conversationHistory = Array.isArray(request.conversationHistory)\n  ? request.conversationHistory\n      .filter((t) => t && typeof t.role === 'string' && typeof t.text === 'string')\n      .slice(-10)\n      .map((t) => ({ role: String(t.role), text: String(t.text).slice(0, 500) }))\n  : [];\nconst rawPending = request.pendingContext && typeof request.pendingContext === 'object' && !Array.isArray(request.pendingContext) ? request.pendingContext : null;\nconst pendingContext = rawPending ? {\n  intent: typeof rawPending.intent === 'string' ? rawPending.intent : 'UNKNOWN',\n  inventoryItemId: typeof rawPending.inventoryItemId === 'string' ? rawPending.inventoryItemId : null,\n  inventoryItemName: typeof rawPending.inventoryItemName === 'string' ? rawPending.inventoryItemName : null,\n  reportedOnHand: typeof rawPending.reportedOnHand === 'number' ? rawPending.reportedOnHand : null,\n  clarificationQuestion: typeof rawPending.clarificationQuestion === 'string' ? rawPending.clarificationQuestion : '',\n} : null;\nif (!text) {\n  throw new Error('Missing bot text.');\n}\nif (!inventoryChoices.length) {\n  throw new Error('Missing inventory choices.');\n}\nreturn [{ json: { event: payload.event ?? null, occurredAt: payload.occurredAt ?? null, channel, text, inventoryChoices, conversationHistory, pendingContext, llm, receivedAt: new Date().toISOString() } }];"
      },
      "id": "c1f2ed0e-9d3f-4a02-bd95-202002020202",
      "name": "Validate Bot Interpret Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const inventoryList = $json.inventoryChoices\n  .map((choice) => `- ${choice.id}: ${choice.name}${choice.sku ? ` (SKU: ${choice.sku})` : ''}`)\n  .join('\\n');\nconst responseSchema = {\n  type: 'object',\n  properties: {\n    intent: {\n      type: 'string',\n      enum: ['RESTOCK_TO_PAR', 'STOCK_STATUS', 'GREETING', 'HELP', 'UNKNOWN'],\n    },\n    inventoryItemId: {\n      type: ['string', 'null'],\n    },\n    inventoryItemName: {\n      type: ['string', 'null'],\n    },\n    reportedOnHand: {\n      type: ['integer', 'null'],\n      minimum: 0,\n    },\n    needsClarification: {\n      type: 'boolean',\n    },\n    clarificationQuestion: {\n      type: ['string', 'null'],\n    },\n    confidence: {\n      type: 'number',\n      minimum: 0,\n      maximum: 1,\n    },\n    summary: {\n      type: ['string', 'null'],\n    },\n  },\n  required: [\n    'intent',\n    'inventoryItemId',\n    'inventoryItemName',\n    'reportedOnHand',\n    'needsClarification',\n    'clarificationQuestion',\n    'confidence',\n    'summary',\n  ],\n  additionalProperties: false,\n};\nconst system = [\n  'You interpret manager chat messages for StockPilot, an inventory operating system for cafes and small restaurants.',\n  'Return JSON only and never wrap it in markdown.',\n  'Use only the inventory ids from the provided inventory list.',\n  'Supported intents are RESTOCK_TO_PAR, STOCK_STATUS, GREETING, HELP, UNKNOWN.',\n  'RESTOCK_TO_PAR means the manager wants you to reorder or top up an item because it is low or running out.',\n  'STOCK_STATUS means the manager is asking what is left, how much there is, or what is low overall.',\n  'If the message includes phrases like order more, reorder, restock, top up, or we are running out, prefer RESTOCK_TO_PAR over STOCK_STATUS.',\n  'Use GREETING for casual social messages like hi, hello, yo, sup, how are you, how r u, or thanks, unless the same message clearly asks about inventory.',\n  'HELP is for what the bot can do or how to use it.',\n  'UNKNOWN is for everything else.',\n  'If a reorder request is missing the count or item, set needsClarification true and ask a short operational clarification question.',\n  'If a stock question clearly names one item, include that inventoryItemId. If it is a general question, leave inventoryItemId null.',\n  'Do not invent numbers. Only use a reportedOnHand value if the manager explicitly gave one.',\n  'If a pending clarification context is provided, the manager is answering a previous question. Use it along with the current message to complete the interpretation — do not ask for clarification again if you can resolve it.',\n  'If conversation history is provided, use it to understand follow-up messages. A short reply like \"cherry\" or \"3\" makes sense only in context of the previous exchange.',\n].join(' ');\nconst examples = [\n  'Example 1: \"Whole milk 2 left, order more.\" -> RESTOCK_TO_PAR for Whole Milk with reportedOnHand 2.',\n  'Example 2: \"How much oat milk do we have?\" -> STOCK_STATUS for Oat Milk.',\n  'Example 3: \"What are we low on right now?\" -> STOCK_STATUS with no specific inventoryItemId.',\n  'Example 4: \"hi\" -> GREETING.',\n  'Example 5: \"yo\" -> GREETING.',\n  'Example 6: \"how are u\" -> GREETING.',\n  'Example 7 (with history): Bot asked \"Which tomatoes — cherry or roma?\", manager replies \"cherry\" -> RESTOCK_TO_PAR for Cherry Tomatoes using the count from the pending context.',\n  'Example 8 (with history): Bot asked \"How many do you have left?\", manager replies \"3\" -> RESTOCK_TO_PAR for the item from pending context with reportedOnHand 3.',\n].join('\\n');\nlet historySection = '';\nif ($json.conversationHistory && $json.conversationHistory.length > 0) {\n  const lines = $json.conversationHistory\n    .map((t) => `[${t.role === 'manager' ? 'Manager' : 'StockPilot'}]: ${t.text}`)\n    .join('\\n');\n  historySection = `\\nConversation history (oldest first):\\n${lines}\\n`;\n}\nlet pendingSection = '';\nif ($json.pendingContext) {\n  const p = $json.pendingContext;\n  pendingSection = `\\nPending clarification: StockPilot previously asked: \"${p.clarificationQuestion}\"`;\n  if (p.inventoryItemName) pendingSection += ` about item \"${p.inventoryItemName}\" (id: ${p.inventoryItemId})`;\n  if (p.reportedOnHand !== null && p.reportedOnHand !== undefined) pendingSection += ` with reported count ${p.reportedOnHand}`;\n  pendingSection += '. The current manager message is likely answering that question.\\n';\n}\nconst user = `Channel: ${$json.channel}${historySection}${pendingSection}\\nCurrent manager message: ${$json.text}\\n\\nAvailable inventory choices:\\n${inventoryList}\\n\\nExamples:\\n${examples}\\n\\nReturn JSON with exactly these keys:\\nintent, inventoryItemId, inventoryItemName, reportedOnHand, needsClarification, clarificationQuestion, confidence, summary`;\nconst messages = [\n  { role: 'system', content: system },\n  { role: 'user', content: `${user}\\n\\nReturn valid JSON only.` },\n];\nconst llmRequest = $json.llm.provider === 'cloudflare'\n  ? {\n      model: $json.llm.model,\n      messages,\n      temperature: 0.15,\n      max_tokens: 300,\n      response_format: {\n        type: 'json_schema',\n        json_schema: responseSchema,\n      },\n    }\n  : {\n      model: $json.llm.model,\n      stream: false,\n      format: 'json',\n      options: {\n        temperature: 0.15,\n      },\n      messages,\n    };\nreturn [{ json: { llm: $json.llm, llmRequest } }];"
      },
      "id": "c1f2ed0e-9d3f-4a02-bd95-303003030303",
      "name": "Prepare Interpretation Prompt (LLM)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.llm.url }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify($json.llm.headers || { \"Content-Type\": \"application/json\" }) }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.llmRequest) }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "c1f2ed0e-9d3f-4a02-bd95-404004040404",
      "name": "Interpret Manager Message (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        40,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "function extractRawText(payload) {\n  const openAiContent = payload?.choices?.[0]?.message?.content;\n  if (typeof openAiContent === 'string' && openAiContent.trim()) {\n    return openAiContent.trim();\n  }\n  if (Array.isArray(openAiContent)) {\n    const textPart = openAiContent.find(\n      (part) => part && part.type === 'text' && typeof part.text === 'string' && part.text.trim()\n    );\n    if (textPart?.text) {\n      return textPart.text.trim();\n    }\n  }\n  if (openAiContent && typeof openAiContent === 'object') {\n    return JSON.stringify(openAiContent);\n  }\n  const ollamaContent = typeof payload?.message?.content === 'string' ? payload.message.content.trim() : '';\n  return ollamaContent;\n}\n\nconst rawText = extractRawText($json);\nif (!rawText) {\n  throw new Error('The LLM did not return usable message content.');\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawText);\n} catch (error) {\n  throw new Error(`The LLM returned invalid JSON: ${rawText}`);\n}\n\nconst confidence = Number(parsed.confidence);\nconst provider = Array.isArray($json.choices) ? 'n8n-cloudflare' : 'n8n-ollama';\n\nreturn [{\n  json: {\n    accepted: true,\n    provider,\n    interpretation: {\n      intent: typeof parsed.intent === 'string' ? parsed.intent.toUpperCase() : 'UNKNOWN',\n      inventoryItemId: typeof parsed.inventoryItemId === 'string' ? parsed.inventoryItemId : null,\n      inventoryItemName: typeof parsed.inventoryItemName === 'string' ? parsed.inventoryItemName : null,\n      reportedOnHand: Number.isFinite(Number(parsed.reportedOnHand)) ? Math.max(0, Math.round(Number(parsed.reportedOnHand))) : null,\n      needsClarification: parsed.needsClarification === true,\n      clarificationQuestion: typeof parsed.clarificationQuestion === 'string' ? parsed.clarificationQuestion : null,\n      confidence: Number.isFinite(confidence) ? Math.min(0.99, Math.max(0.05, confidence)) : 0.55,\n      summary: typeof parsed.summary === 'string' ? parsed.summary : null,\n      rawLlmText: rawText,\n    },\n  },\n}];"
      },
      "id": "c1f2ed0e-9d3f-4a02-bd95-505005050505",
      "name": "Normalize Interpretation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "c1f2ed0e-9d3f-4a02-bd95-606006060606",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        180
      ]
    }
  ],
  "connections": {
    "Bot Interpret Webhook": {
      "main": [
        [
          {
            "node": "Validate Bot Interpret Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Bot Interpret Request": {
      "main": [
        [
          {
            "node": "Prepare Interpretation Prompt (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Interpretation Prompt (LLM)": {
      "main": [
        [
          {
            "node": "Interpret Manager Message (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpret Manager Message (LLM)": {
      "main": [
        [
          {
            "node": "Normalize Interpretation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Interpretation": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "meta": null,
  "active": true,
  "versionId": "c1f2ed0e-9d3f-4a02-bd95-707007070707",
  "id": "stockpilot-bot-interpret",
  "tags": []
}
